@media (max-width: 1200px) 
    .header
        &_info
            margin-left: 10px
        &_log
            margin-right: 10px

    .nav
        &_block
            margin-left: 10px

    .content
        height: 580px
        &_season
            height: 580px
            &_title
                margin-top: 0
            &_list
                margin-left: 27px
                .block
                    height: 200px
                    width: 90%
                    margin: 0
                    padding: 0
                    img
                        width: 165px
                .item
                    .text
                        width: 145px
                        font-size: 14px
        &_catalog
            height: 580px

    .container 
        .title 
            margin-top: 55px
            .line
                margin: 10px auto
        .commercial
            justify-content: center
            &_item
                margin-top: 24px
                &_block
                    display: flex
                    justify-content: center
                    align-items: center
                    height: 250px
                    width: 230px
                    img
                        width: 200px

        &_collection
            .text_block
                font-size: 24px

    .features
        height: 580px
        &_descr
            &_text
                font-size: 18px

@media (max-width: 1027px) 
    .brands
        margin-top: 320px
        img
            width: 230px

    .content
        height: 520px
        &_season
            height: 520px
            
        &_catalog
            height: 520px


@media (max-width: 991px)
    .header
        &_info
            margin-left: 20px
        &_log
            margin-right: 45px

    .nav
        &_block
            &_link
                margin-right: 30px

    .content 
        height: 500px
        &_season
            height: 500px
            &_list
                margin-left: 17px
                .block
                    height: 155px
                    img
                        width: 145px
        &_catalog
            height: 500px
        &_collection
            width: 350px
            .text_block
                font-size: 21px
            .btn_block
                width: 200px
                font-size: 20px
    
    .features
        height: 500px
        &_descr
            &_text
                width: 350px
                font-size: 14px

    .container 
        width: 100%
        .commercial
            justify-content: center
            &_item
                &_block
                    width: 200px
                    height: 215px
                    img
                        width: 185px
                &_text
                    width: 200px
                    font-size: 15px

    .brands
        margin-top: 320px
        img
            width: 180px
    .footer 
        &_about
            width: 290px
            padding-left: 15px
            &_box
                width: 250px
                font-size: 14px
        &_category
            width: 290px
            padding-right: 50px
        &_link
            width: 300px
            margin-right: 20px
            span
                display: block
                width: 240px
                
            &_box
                input
                    width: 114px
                    height: 24px
                    border: none
                button
                    width: 110px
                    height: 28px
                    font-size: 12px

@media (max-width: 875px)
    .content
        display: flex
        flex-direction: column
        align-items: center
        height: 1000px
        &_season
            &_title
                .line
                    margin-top: 10px
                    margin-bottom: 40px
        &_catalog
            width: 100%
            height: 80%


@media (max-width: 770px)
    .header
        &_info
            margin-left: 28px
            &_link
                span
                    font-size: 11px
        &_log
            margin-right: 20px

    .hamburger 
        display: block
        position: absolute
        right: 20px
        top: 10%
        transform: translateY(-50%)
        width: 30px
        height: 12px
        div
            display: block
            height: 2px
            width: 100%
            background-color: #fff
            margin-bottom: 3px
            transition: .6s all

        &_active
            div
                margin-bottom: -2px
                &:nth-child(1)
                    transform: translateY(3px) rotate(-45deg)  
                    top: 1px
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(3px) rotate(45deg)

    .nav
        &_block
            &_logo
                margin-left: 20px
            &_link
                display: none
                &_active
                    display: block
                    position: absolute
                    top: 50%
                    transform: translateY(-50%)
                    background-color: #000000b8
                    height: 100%
                    width: 50%
                    padding-top: 50%
                    margin-left: -10px
                    transition: .6s all
                    .block
                        &_item
                            width: 100%
                            margin: 0 auto
                            span
                                font-size: 20px
                            &_link
                                margin: 0 auto
                                img
                                    width: 30px

    .features
        &_descr
            &_btn
                width: 250px
                font-size: 14px
            &_text
                display: none

    .footer
        &_about
            display: none
        &_category
            padding-right: 17px
            h4
                font-size: 17px
        &_link
            h4
                font-size: 17px
            span
                font-size: 12px
                width: 195px

    .brands
        margin-top: 490px
        &_list
            flex-wrap: wrap
            img
                width: 160px

@media (max-width: 575px)
    .header
        &_info
            &_link
                border-right: none
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    display: none
                span
                    font-size: 14px
            
    .content
        height: 870px
        &_season
            height: 650px

    .hamburger
        margin-right: 20px

    .features
        &_descr
            &_text
                display: none
            &_btn
                width: 160px

    .footer
        &_about
            display: none

    .commercial
        &_item
            &:nth-child(5)
                display: none
            &:nth-child(6)
                display: none
            &:nth-child(7)
                display: none
            &:nth-child(8)
                display: none
        &_btn
            display: block
            position: absolute
            left: 50%
            transform: translateX(-50%)
            margin-top: -100px
            background: none
            color: $white
            width: 160px
            height: 50px
            border: 2px solid $white
            border-radius: 5px
            font-size: 18px
            letter-spacing: 0.1em
            text-transform: uppercase
            cursor: pointer
            &:hover
                background-color: $white
                color: $black
                transition: .7s all
    
    .brands
        margin-top: 190px

@media (max-width: 513px)
    .commercial
        height: 1100px
        margin-bottom: 195px
        &_item
            margin-left: 49px

@media (max-width: 480px)
    .content 
        height: 757px
        &_season
            &_title
                h2
                    font-size: 28px
            &_list
                .block
                    width: 90%
                    img
                        width: 125px
                .item
                    .text
                        width: 90px
                        margin-bottom: 20px
                        margin-left: 10px
        &_catalog
            height: 80%

    .features
        &_descr
            &_title
                font-size: 17px
                .line
                    width: 150px

    .footer
        &_link
            &_box
                display: flex
                flex-direction: column
                align-items: flex-end
                margin-right: 10px
                input
                    width: 160px
                button
                    margin-top: 10px
                    width: 120px
                    font-size: 13px
                    height: 40px

        &_category
            &_list
                margin-top: -10px
        
    .nav
        &_block
            &_link
                &_active
                    width: 60%

@media (max-width: 480px)
    .header
        &_info
            &_link
                span
                    font-size: 12px
                    margin-left: -5px

    .promo
        &_block
            &_item
                width: 275px
                height: 275px

    .content 
        height: 670px
        &_season
            &_title
                h2
                    font-size: 24px
            &_list
                .block
                    width: 90%
                    img
                        width: 110px
                .item
                    .text
                        width: 78px
        &_catalog
            height: 94%
        &_collection
            margin-top: -50px
            .text_block
                font-size: 16px
            .btn_block
                width: 175px
                font-size: 18px

    .features
        &_descr
            &_title
                font-size: 14px
                .line
                    width: 135px
            &_btn
                width: 150px
        
    .container
        .title
            font-size: 20px

    .brands
        height: 450px

    .footer
        &_link
            span
                display: none
            &_box
                input
                    width: 130px

@media (max-width: 320px)
    .content 
        height: 670px
        &_season
            &_title
                h2
                    font-size: 24px
            &_list
                .block
                    width: 85%
                    height: 140px
                    img
                        width: 100px
                .item
                    .text
                        font-size: 14px
                        width: 68px

        &_collection
            width: 290px

    .footer
        &_category
            padding-right: 13px
        &_block
            display: flex
            flex-direction: column
            padding: 0
        &_link
            h4
                margin-left: 44px
            span
                display: none
            &_box
                align-items: flex-start
                padding-left: 44px
                input
                    width: 170px
                    height: 35px