body
    background-color: #000
    margin: 0

*
    font-family: 'PT Sans', sans-serif

.container
    width: 1200px
    margin: 0 auto

@import "variables"
@import "header"
@import "nav"
@import "promo"
@import "footer"
@import "brands"
@import "content"
@import "features"
@import "commercial"